@import "tailwindcss";

@font-face {
    font-family: 'Golos';
    src: url('@/assets/fonts/GolosText-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Golos';
    src: url('@/assets/fonts/GolosText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Golos';
    src: url('@/assets/fonts/GolosText-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@theme {
    --font-golos: 'Golos', sans-serif;
}

html {
    font-family: "IBM Plex Mono", 'Courier New', Courier, monospace;
    height: 100%;
}

body {
    height: 100dvh;
    margin: 0;
    overflow: hidden;
    overscroll-behavior: none;
}

#root {
    height: 100%;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.1);
    background-clip: content-box;
    min-height: 60px;
}
